.cookies__container{
  background-color: var(--bg-light-red);
  padding: 30px 10px;
  position: fixed;
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 2s;
  z-index:4999;
  gap:30px;
}

.cookies__content{
  display: flex;
  gap:30px;
  align-items: center;
}

.cookies__inactive{
  bottom: -350px;
}

.cookies__active{
  bottom:0px;
}

.cookies__content-information{
  padding:10px;
}
.cookies__content-information >p{
  color: var(--text-primary-light)
}

.setting__content-setting-input{
  display: flex;
  gap:10px;
  align-items: center;
}

.setting__content-setting{
  margin:50px 0;
  display: flex;
  flex-direction: column;
  gap:30px;
}

.cookies__btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.cookies__btn-fixed{
  position: fixed;
  bottom:10px;
  left:10px;
  z-index:3900
}

@media (max-width:636px){
  .cookies__container, .cookies__content{
    flex-direction: column;
    gap:20px;
  }
}