.filter-services__container{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-l);
    padding: var(--spacing-m);
    align-items: center;
}

.filter__title{
    font-size: var(--font-size-m);
    color: var(--text-secondary);
    font-weight: 500;
}

.filter__button-container{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-m);
    flex-wrap: wrap;
}

