@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  /* BACKGROUND COLOR */
  --bg-dark-gray: #222222;
  --bg-white: #ffffff;
  --bg-medium-gray: #7e7e7e;
  --bg-light-gray: #ebebeb;
  --bg-lighter-gray: #f7f7f7;
  --bg-primary-red: #fe353d;
  --bg-primary-yellow: #fcdd09;
  --bg-light-red: #fe353d;
  --bg-lighter-red: #ffe1e2;
  --bg-inactive: #b0b0b0;
  --bg-dark-gray-transparent: #e9e9e92d;

  /*FONT*/
  --font-main: 'Fira Sans', sans-serif;

  /*COLOR TEXT*/
  --text-primary: #222222;
  --text-primary-light: #ffffff;
  --text-secondary: #7e7e7e;
  --text-tertiary: #6750a4;
  --text-light-red: #fe353d;


  /*SPACING AND ROUNDED*/
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 48px;

  /*FONT SIZE*/
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 22px;
  --font-size-xl: 28px;
}

.width_full {
  width: 180px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: var(--font-size-xl);
}

p,
button,
li {
  font-size: var(--font-size-m);
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: var(--spacing-xs) var(--spacing-s);
  text-transform: capitalize;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.267);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

button:hover {
  transform: scale(0.98);
}

.button:disabled {
  background-color: var(--bg-medium-gray);
  color: var(--text-primary-light);
  cursor: not-allowed;
  pointer-events: none;
}
.disabled {
  background-color: var(--bg-medium-gray)!important;
  color: var(--text-primary-light)!important;
  pointer-events: none;
  opacity: 0.5;
}

hr {
  width: 100%;
  margin-top: 50px;
}

.icon {
  display: flex;
  align-items: center;
}

.spinner {
  position: fixed;
  height: 100svh;
  width: 100%;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: var(--bg-dark-gray-transparent);
  z-index: 4500;
}

.modal-search{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.623);
  width: 100%;
  height: 100%;
  z-index:3999;
  display: flex;
  justify-content: center;
}
.modal-input{
  margin-top: 140px;;
  background-color: rgba(255, 255, 255, 0.952);;
  z-index:4000;
  width:620px;
  height:260px;
  border-radius: 20px;
}
.z-index-4002 {
  z-index:4002;
}
.z-index-4001 {
  z-index:4001;
}

/*MEDIA QUERY*/
@media (max-width: 850px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: var(--font-size-xl);
  }

  button,
  li,
  p {
    font-size: var(--font-size-s);
    line-height: 20px;
  }
}

@media (max-width:568px) {
  .modal-input{
    width:620px;
    height:353px;
  }
}

@media (max-width: 400px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: var(--font-size-xl);
  }
  li,
  button,
  a {
    font-size: var(--font-size-s);
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 326px) {
  .modal-input{
    width:620px;
    height:420px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeIn {
  opacity: 1;
  animation: fadeInUp 0.5s ease-in;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 50%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.show {
  animation-name: show;
  view-timeline-name: --reveal;
  animation-timeline: --reveal;
  animation-range: 10% cover 20%;
  animation-fill-mode: both;
}
