.home__container-sections{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.home__content-title {
  width: 100%;
}
.home__content-description {
  width: 50%;
  padding:10px;
}
.home__content-title > h2,
.home__content-description > p {
  text-align: center;
}
.home__content-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.section__map, .section_card-offers{
  margin-bottom: 40px;
}

@media (max-width:676px) {
  .home__content-description {
    width: 75%;
  }
}

@media (max-width:460px) {
  .home__content-description {
    width: 100%;
  }
}