.form {
  display: flex;
  gap: 10px;
}
.create__form-checkbox {
  display: flex;
  gap: 10px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.modal-content > h4 {
  font-weight: 200;
  font-size: var(--font-size-l);
}

.modal-content > input {
  margin: 20px 0;
  padding: 10px 10px 10px 15px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  font-size: var(--font-size-l);
}
.modal-content-btns {
  display: flex;
  gap: 10px;
  align-items: center;
}
.selected-options {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 20px;
}
.selected-options > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
