.card-list {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-l);
}

.card {
  background-color: var(--bg-white);
  width: 276px;
  border-radius: 12px;
  border: 1px solid var(--bg-medium-gray);
  padding:15px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.card__creator{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__creator-switch{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card__creator-switch>span{
  font-size: 12px;
  font-weight: bolder;
}
.card__creator>span{
  font-size: 14px;
  font-weight: bolder;
  background-color: var(--bg-white);
  color:var(--text-tertiary);
  border: 2px solid var(--text-tertiary);
  padding: 0 4px;
  border-radius: 20px;;
}

.card h4 {
  font-size: var(--font-size-m);
  text-align: center;
}

.card p {
  font-size: var(--font-size-s);
  color: var(--text-secondary);
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__user-info {
  display: flex;
  align-items: center;
}

.card__user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: var(--spacing-m);
}

.card__title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__offer-categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.card__offer-category {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 110px;
  gap: 10px;
}

.card__offer-category-icon {
  width: 24px;
  height: 24px;
}

.card__offer-category-text {
  color: var(--text-secondary);
}

.card__button-container {
  width: 100%;
  margin: 24px auto 0;
  display: flex;
  flex-direction: column;
}

.card__content-btn-options {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
}

.card__form label {
  font-size: var(--font-size-s);
  font-weight: bold;
}

.card__form input,
.card__form textarea {
  width: 100%;
  padding: var(--spacing-xs);
  font-size: var(--font-size-s);
  border: 1px solid var(--bg-medium-gray);
  border-radius: var(--spacing-xs);
}

.card__form input:focus,
.card__form textarea:focus {
  border-color: var(--bg-primary);
  box-shadow: 0 0 5px var(--bg-primary);
  outline: none;
}

.card__form textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 100px;
}

.card__form-actions {
  display: flex;
  justify-content: center;
  gap: var(--spacing-s);
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--bg-light-red);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.hipertext{
  color: var(--text-primary);
  font-size: var(--font-size-xs);
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--bg-light-gray);
  font-weight: 400;
  width:80px;
  text-align: center;
  border-radius: 5px;;
}
.hipertext:hover {
  color: var(--text-light-red);
}