.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

.card {
  width: 276px;
  border-radius: 12px;
  border: 1px solid var(--bg-medium-gray);
  padding: 16px;
  overflow: hidden;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.card h4 {
  font-size: var(--font-size-m);
  text-align: center;
}

.card p {
  font-size: var(--font-size-s);
  color: var(--text-secondary);
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__user-info {
  display: flex;
  align-items: center;
  padding-bottom: var(--spacing-l);
}

.card__user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: var(--spacing-m);
}

.card__title-container {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.card__offer-categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.card__offer-category {
  display: flex;
  align-items: center;
  justify-content: start;
  width:110px;
  gap:10px;
}

.card__offer-category-icon {
  width: 24px;
  height: 24px;
}

.card__offer-category-text {
  color: var(--text-secondary)
}

.card__button-container {
  width: 100%;
  margin: 24px auto 0;
  display: flex;
  flex-direction: column;
}

.card Button {
  border: 1px solid var(--text-primary);
  box-shadow: none;
}
