.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--spacing-l) var(--spacing-xl);
  gap: var(--spacing-l);
}

.header__content, .header__content-btns {
  display: flex;
  align-items: center;
  gap:20px
}
.header__content-btns{
  gap: var(--spacing-m);
  flex-wrap: wrap;
  justify-content: center;

}

.header__contentinfo-user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
}
.header__contentinfo-user > div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.header__container > div > a > img {
  width: 80px;
  transition: all 0.3s;
}
.header__container > div > a > img:hover{
  transform: scale(1.1);
}

@media (max-width: 674px) {
  .header__container {
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
  .header__content {
    gap:20px
  }
}

@media (max-width:350px) {
  .header__content{
    flex-direction: column;
  }
}