.register-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
.register-form > h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.form__register {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}
.form-input {
  width: 100%;
  position: relative;
}
.form-input .input-label {
  position: absolute;
  top: 18px;
  left: 14px;
  padding: 0px 4px;
  font-size: var(--font-size-s);
  transition: all 0.1s linear;
}
.form-input .input {
  display: block;
  outline: none;
  border: 1px solid #79747e;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  padding: 16px;
  font-size: var(--font-size-s);
  border-radius: 4px;
}
.form-input .input:focus + .input-label,
.form-input .input:valid + .input-label {
  background-color: #fef7ff;
  transform: scale(0.85) translateY(-30px);
}

/* Error message styling */
.error-text {
  color: #D32F2F; /* Red color for error messages */
  font-size: var(--font-size-xs);
  margin: 5px 0;
}

/* Response message styling */
.response-message {
  text-align: center;
  font-size: 1.2rem;
  color: green;
  margin-top: 20px;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

.input-error {
  border: 2px solid #D32F2F; /* Removed the use of this class for border color */
}

@media (max-width: 768px) {
  .form__register > .form-input {
    width: 100%;
  }
}
