.footer-container {
  background-color: var(--bg-lighter-gray);
  width: 100%;
  height:60svh;
  padding:  0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:40px;
}

.footer-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:40px;
}

.footer-content-img {
  width: 160px;
  height: 135px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}
.footer-content-img > img {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  transition: all 0.3s;
}
.footer-content-img > img:hover {
  transform: scale(1.1);
}

@media (max-width:560px) {
  .footer-container{
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    height:66svh;
  }
  .footer-text {
    width: 100%;
    text-align: center;
  }
}