.footer-container {
  background-color: var(--bg-lighter-gray);
  width: 100%;
  padding: 80px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  width: 300px;
}

.footer-text h4 {
  margin-bottom: 40px;
}

footer img {
  width: 168.61px;
  height: 138.48px;
}